<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des groupes</title>
</head>
<body>
    <h1>Liste des groupes</h1>
    <ul>
        {% for groupe in groupes %}
            <li>
                <a href="/groupe/{{ groupe['groupe'] }}">Groupe {{ groupe['groupe'] }}</a>
                - <strong>{{ groupe['titre'] }}</strong>: {{ groupe['idee_principale'] }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
