<!DOCTYPE html>
<html>
<head>
    <title>Détails du mot {{ mot.latin }}</title>
</head>
<body>
    <h1>Mot : {{ mot.latin }}</h1>
    <p><strong>Catégorie :</strong> {{ mot.categorie }}</p>
    <p><strong>Fonction :</strong> {{ mot.fonction }}</p>
    <p><strong>Relation :</strong> {{ mot.relation }}</p>
    <p><strong>Racine :</strong> {{ mot.racine }}</p>
    <p><strong>Sens en français :</strong> {{ mot.sens }}</p>
    <p><strong>Dérivé en français :</strong> {{ mot.derive }}</p>
    <a href="/liste">Retour à la liste</a>
</body>
</html>

